PORT=4000
MONGO_URI=mongodb://localhost:27017/ad-chat-app
JWT_SECRET=replace-with-secure-random-string
CLIENT_ORIGIN=http://localhost:5173
CLIENT_ORIGINS=http://localhost:5173
PUBLIC_ASSET_BASE_URL=http://localhost:4000



mongodb+srv://infoalgotwist_db_user:55zhwdorMn07uanx@cluster0.ejdcjld.mongodb.net/crm_dashboard